@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@100;400;700&display=swap");

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Carlito";
  font-style: normal;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.dashboard {
  display: flex;
}

main {
  width: 90%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  z-index: 1;

  .content {
    padding: 10px;
    height: auto;
    background-color: #f5f6fa;
    padding: 2rem;
  }
}

.sidebar.collapsed + main {
  margin-left: 60px;
}

/* Media query for big screens */

@media (max-width: 620px) {
  main {
    width: 80%;
  }
}
@media (min-width: 1023px) {
  main .content {
    height: auto;
  }
}

a {
  text-decoration: none;
}
