@import 'variables';


.tab_btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;


  button {
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-bottom: none;
    font-weight: normal;
    cursor: pointer;
    border-radius: 5px 5px 2px 1px;

    &.active {
     
      background-color: #fff;
      border-bottom: 2px solid black;
      font-weight: bold;
    }
  }
}
.register_main
{
  height: 100vh;
  position: relative;

  h2
  {
    position: absolute;
    top:-3%;
    left: 10%;
  }
  
}

.register_wrapper
{
  height: 80vh;
  // padding : 10px 0px 100px 0px;
  background-color: white;
  border-radius: $border-radius
}
.register_container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  border-radius: 10px;
  padding: 50px;
  height: auto;
  

  .leftSection {

    flex: 1;


    label
    {
      font-size: large;
      font-weight: bold;
    }
  }

  .rightSection {
    flex: 1;

    label
    {
      font-size: large;
      font-weight: bold;
    }
  }

 
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 8%;

  i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  input,
  select {
    width: 80%;
    height: 30px;
    padding: 5px 5px 5px 30px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 14px;
  }
}

.register_id {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}

.register_date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}

.user_count {
  display: flex;
  justify-content: space-between;
  // background-color: red;
}

.register_btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  


  button {
    border-radius: 0.5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 30;
 

    &:first-child {
      background-color: #ccc;
    }

    &:last-child {
      background-color: black;
      color: #fff;
    }
  }
}

.payment_container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  border-radius: 10px;
  padding: 50px;
  height: 70vh;

  .left_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3.5rem;

    .info {
      display: flex;
      gap: 15rem;

      label {
        font-weight: bold;
        color: #333;
        flex-shrink: 0;
        width: 100px;
        font-size:large;
      }

      span {
        color: #555;
      }

      .highlight {
        color: #007bff;
        font-weight: bold;
      }

      &__plan {
        // display: flex;

        i {
          margin-left: 10px;
          cursor: pointer;
          color: #007bff;
        }

        p {
          margin-top: 5px;
          font-size: 14px;
          color: #777;
        }
      }
    }
  }

  .right_section {
    padding: 3.5rem;
    background-color: #f5f6fa;
    flex: 1;
    border-radius: $border-radius;
    position: relative;

    h2{
      position:absolute;
      top: 0.5%;
      border-bottom: 3px solid black;
    }
    table {
      margin-top:2rem;
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        font-weight: bold;
        background-color: #f9f9f9;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}


.form_actions {
  display: flex;
  gap: 1rem;
  margin-top: 3.5rem;
  position: absolute;
  left:35%;
  bottom: 15%;
  padding: 0px 150px;
}

.button_cancel
{
  @include button;
  background-color: $button-reset;
  color: $input-bg;
}

.button_register
{
  @include button;
  background-color: $button-search;
  color: $input-bg;
}

.box{
  width: 70px;
  height: 70px;
  background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
  position: absolute;
  z-index: 1;
  margin-top: -10px;
  margin-left: 40px;
}